body {
  margin: 0;
  padding: 0;
}
.header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px;
}
nav ul {
  display: flex;
  float: right;
  
}
nav li {
  list-style-type: none;
  padding: 10px;
}
nav a{
   text-decoration: none;
}