


@font-face {
  font-family: 'ClinicSans';
  src: url('./assets/fonts/ClinicSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  
}


body {
  font-family: 'ClinicSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'ClinicSans-Bold', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  background: #fff;
}

#root {
  padding: 24px;
}